* {
  /* font-family: "IBM Plex Serif", serif; */
  box-sizing: border-box;
}

body {
  background: #f6f6ee;
  font-family: "Cormorant Garamond", "IBM Plex Serif", serif;
  color: #291600;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
}

.header-title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 64px;
}

.custom-header {
  font-size: 48px;
  color: #291600;
  padding: 10px 20px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  width: 60%;
  padding: 24px 40px 28px 40px;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  /* flex-wrap: wrap; */
  margin: 0 auto;

}

.card .card-title{
  font-family: "Cormorant Garamond", "IBM Plex Serif" serif;
  color: #291600;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 4px;
}

.card .card-body{
  color: #291600;
  text-align: left;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .example-sentence{
  color: #000;
  text-align: left;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-left: 64px;
}

.card .example-sentence-bold{
  color: #000;
  text-align: left;
  font-family: "IBM Plex Serif";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.card .etymology{
  color: #000;
  font-family: "IBM Plex Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}